/*Styles below customized by Edi for the version 2 of awsomebar navigation, later minor adjustments were made by ken to make the final version 3*/
/*Sytles the main bar, also positions it to stay at the top of the page*/
#awesomebar{min-width:800px;height:25px;background-color:#025167;margin:0;text-shadow: 0 1px 0 #000; padding-left: 30px; position:fixed; top: 0; width: 98%; z-index: 1000;}
/*Styles the main bar's border, and the border between elements*/
#awesomebar #home, #awesomebar #awesomeNavMenu{float:left;border-color:#057D9F #025167 #025167 #216477; border-style: solid; border-width: 1px; padding:2px 8px 1px;width:auto;height:20px;}
/*Styles the child drop downs*/
ul.dropdown li{float:left;line-height:1.3em;vertical-align:middle;background-color:#025167;color:#fff;zoom:1 !important;}
/*Styles the background of the second layer*/
ul.dropdown ul li{float:none;background-color:#057d9f;padding:0;}
/*Styles the hoever affect for when there are no child nodes*/
ul.dropdown a:hover{border-top-color:#188A0 !important;border-left-color:#25D500;background-color:#009900;color:#fff;}
/*Border for the hovered items */
ul.dropdown li.clickable-with-children > a:hover {border-top-color:#76b900 !important;}
ul.dropdown ul a.dir:hover{background-color:#009900;background-image:url([[pix:theme|ab-arrowon]]);color:#fff;}
/*Styles the background of the thrid tier*/
ul.dropdown ul ul li{background-color:#057d9f;}
/*Styles the thrid layer*/
ul.dropdown ul ul ul li{background-color:#057d9f;}
/*Styles other borders*/
ul.dropdown li a,ul.dropdown span,ul.dropdown span a{border-color:#057D9F #025167 #025167 #216477;border-style:solid;border-width:1px;}
ul.dropdown ul li a,ul.dropdown ul span,ul.dropdown ul span a{border-left:none;border-color:#057D9F #025167 #025167 #216477;}
ul.dropdown ul ul li a,ul.dropdown ul ul span, ul.dropdown ul ul span a{border-color:#057D9F #025167 #025167 #216477;}
ul.dropdown ul ul ul li a,ul.dropdown ul ul ul span, ul.dropdown ul ul ul span a{border-color:#057D9F #025167 #025167 #216477;}
ul.dropdown a,ul.dropdown span{display:block;}
ul.dropdown ul a{width:166px;padding:2px 0 4px 5px;}
ul.dropdown ul a.dir{width:111px;}
ul.dropdown ul *.open{background-color:#4c4c4c;background-image:url([[pix:theme|ab-arrowover]]);color:#fff;}
ul.dropdown ul a.open:hover{background-image:url([[pix:theme|ab-arrowon]]);color:#fff;}
/*Modifys the hover efect for the 2nd layer*/
ul.dropdown ul li:hover > span, ul.dropdown ul li:hover > span a{background-color:#009900;background-image:url([[pix:theme|ab-arrowover]]);}
ul.dropdown li.clickable-with-children:hover > a{background-image:url([[pix:theme|ab-arrowover]]);}
/*Styles the hover effect for elements with children*/
ul.dropdown *.open,ul.dropdown li:hover > span, ul.dropdown li:hover > span a{background-color:#009900; border-color:#76b900 #025167 #025167 #216477 ;border-style:solid;border-width:1px; border-left:none;}
ul.dropdown ul ul *.open,ul.dropdown ul ul li:hover > span, ul.dropdown ul ul li:hover > span a{background-color:#009900;background-image:url([[pix:theme|ab-arrowover2]]);color:#fff;}

/* Child Nodes
-------------------------- */
#custommenu{height:30px;background-color:#025167;margin:0;text-shadow: 0 1px 0 #000;}
#awesomebar ul.dropdown {z-index: 697; }
#awesomebar ul.dropdown ul {z-index: 698;}
#awesomebar ul.dropdown li {z-index: 699;}
ul.dropdown span.customitem {padding:0;border:0; width: auto;}
ul.dropdown span.customitem a {padding:6px 20px 6px 20px;}
ul.dropdown span.customitem a:hover {border-left-color: #505050;border-top-color: #404040 !important;}
#custommenu ul.dropdown ul {padding:0;width:185px;}
#custommenu ul.dropdown ul a {padding:4px 0px 4px 18px;}
#custommenu ul.dropdown > li span a {height:16px;}
