/** Path: theme pagelayout **/

/*********************************************************************************************

    left column: 230px
    right column: 330px
    padding left/right column: 10px
    padding center column: 30px

**********************************************************************************************/

body {
    margin:auto 0px;
    width:auto;
}

#page {
    width:100%;
    max-width: 1600px;
    overflow:hidden;
    margin:0 auto;
}

#page-content {
    clear: both;
    overflow: hidden;
    position: relative;
    width: 100%;
}

/* @group Pre and Post */

#page-content #region-main-box {
    float: left;
    margin-left: -[[setting:regionwidth]];
    position: relative;
    width: 200%;
    right: 100%;
}

#page-content #region-post-box {
    float: left;
    margin-left: -[[setting:regionwidth]];
    width: 100%;
    border-right: 2px solid #98bcd6;
    background: url([[pix:theme|top_bg]]) repeat-x top #fff;
}

#page-content #region-main-wrap {
    float: left;
    width: 50%;
}

#page-content #region-main {
    overflow: hidden;
    position: relative;
    margin-left: [[setting:regionwidthdouble]];
    left: 100%;
}

#page-content #region-pre {
    float: right;
    position: relative;
    left: [[setting:leftregionwidthmargin]];
    width: [[setting:regionwidth]];
    background: transparent;
}

#page-content #region-post {
    float: right;
    position: relative;
    left: [[setting:rightregionwidthmargin]];
    width: [[setting:regionwidth]];
    background: transparent;
}

#page-content #region-main .region-content {
    overflow: hidden;
    margin: 20px;
}

#page-content #region-pre .region-content,
#page-content #region-post .region-content {
    overflow: hidden;
    padding: 20px 10px;
}

#page-footer {
    clear: both;
    float: left;
    width: 100%;
}



/* @end */

/* @group Pre Side Only */


.side-pre-only #page-content #region-main-box {
    margin-left: 0px;
}

.side-pre-only #page-content #region-post-box {
    margin-left: -[[setting:regionwidth]];
}

.side-pre-only #page-content #region-main {
    margin-left: [[setting:regionwidth]];
}

.side-pre-only #page-content #region-pre {
    left: [[setting:regionwidth]];
    width: [[setting:regionwidth]];
}

.side-pre-only #page-content #region-post {
    width: 0%;
}


/*Shaughn, Fixed Side Pre
.side-pre-only #region-main {left: 100%; width: 73.5%; background: white;}
.side-pre-only #region-pre {left: setting:regionwidthdouble; width: setting:regionwidth;}
.side-pre-only #region-post {width:0%; left:0%;}
.has_dock_left_vertical.side-pre-only #region-main  {left: 100%; width: 73.5%; background: white;}
.has_dock_left_vertical.side-pre-only #region-pre {left: setting:regionwidthdouble; width: setting:regionwidth;}
.has_dock_left_vertical.side-pre-only #region-post {width:0%; left:0%;}
*/

/* @end */

/* @group Post Side Only */

/*Shaughn, Modified the layout so that the side post would be visible*/
/*Made minor css changes, setted the regionwidth to not float out of the page*/

.side-post-only #page-content #region-main-box { margin-left: 0px; }

.side-post-only #page-content #region-main-box #region-post-box { margin-left: -[[setting:regionwidth]]; }

.side-post-only #page-content #region-main-box #region-post-box #region-main-wrap #region-main { margin-left: [[setting:regionwidth]]; }

.pagelayout-frontpage.side-post-only #page-content #region-main-box #region-post-box #region-post,
.editing.side-post-only #page-content #region-main-box #region-post-box #region-post { left: [[setting:regionwidthdouble]]; width: [[setting:regionwidth]]; }

.side-post-only #page-content #region-main-box #region-post-box #region-post { left: [[setting:regionwidth]]; width: [[setting:regionwidth]]; }

.has_dock.side-post-only .page-middle #region-main-box #region-post-box #region-main-wrap #region-main { margin-left: 200px; }

/*Shaughn, fixing side-post
.side-post-only #region-main {left: 100%; width: 73.5%; background: white;}
.side-post-only #region-pre {width:0%; left:0%;}
.side-post-only #region-post {left: setting:regionwidthdouble; width: setting:regionwidth;}
.has_dock_left_vertical.side-post-only #region-main {left: 100%; width: 73.5%; background: white;}
.has_dock_left_vertical.side-post-only #region-pre {width:0%; left:0%;}
.has_dock_left_vertical.side-post-only #region-post {left: setting:regionwidthdouble; width: setting:regionwidth;}
*/

/* @end */

/* @group No Blocks */

.content-only #page-content #region-main-box {
    margin-left: 0px;
}

.content-only #page-content #region-main-box #region-post-box {
    margin-left: 0px;
}

.content-only #page-content #region-main-box #region-post-box #region-main-wrap #region-main {
    margin-left: 0px;
}

.content-only #page-content #region-main-box #region-post-box #region-pre {
    width: 0px;
}

.content-only #page-content #region-main-box #region-post-box #region-post {
    width: 0px;
}

/*Shaughn, fixed no group blocks
.content-only #region-main { left: 100%; width: 100%; background: white;}
.content-only #region-pre {width:0%; left:0%;}
.content-only #region-post {width:0%; left:0%;}
*/

/* @end */
.pagelayout-report #page-content #region-main {
    overflow:auto;
}
.pagelayout-report #page-content #region-main .region-content {
    overflow:visible;
}
